
/.vs
/BookstoreDesktopClient/obj
/BookstoreDesktopClient/bin
/.vs/MAS_Cloud_Zadatak/DesignTimeBuild
*.user
*.bin
/AzureBookstore/obj
/AzureBookstore/pkg
/BookstoreAPI/bin
/BookstoreAPI/obj
/packages
/ValidationService/obj
/BookstoreModel/obj
/BookstoreModel/bin
*.pdb
/ServiceDevelopmentSDK/obj
/ValidationDataModel/obj
/ValidationService/bin
/ServiceDevelopmentSDK/bin
*.dll
*.vsidx
/AzureBookstore/.vs/MAS_Cloud_Zadatak/v17
/AzureBookstore/AzureBookstore/pkg
/AzureBookstore/BookstoreAPI/bin
/AzureBookstore/BookstoreAPI/obj
/AzureBookstore/BookstoreDesktopClient/obj
/AzureBookstore/BookstoreServiceContracts/obj
/AzureBookstore/CommunicationsSDK/obj
/AzureBookstore/packages
*.cache
/AzureBookstore/PurchaseDataModel/obj
/AzureBookstore/ValidationDataModel/obj
/AzureBookstore/.vs
/AzureBookstore/BookstoreService/bin
