
/.vs
/BookstoreDesktopClient/obj
/BookstoreDesktopClient/bin
/.vs/MAS_Cloud_Zadatak/DesignTimeBuild
*.user
*.bin
/AzureBookstore/obj
/AzureBookstore/pkg
/BookstoreAPI/bin
/BookstoreAPI/obj
/packages
/ValidationService/obj
/BookstoreModel/obj
/BookstoreModel/bin
*.pdb
/ServiceDevelopmentSDK/obj
/ValidationDataModel/obj
/ValidationService/bin
/ServiceDevelopmentSDK/bin
*.dll
