
/.vs
/BookstoreDesktopClient/obj
/BookstoreDesktopClient/bin
/.vs/MAS_Cloud_Zadatak/DesignTimeBuild
*.user
*.bin
/AzureBookstore/obj
/AzureBookstore/pkg
/BookstoreAPI/bin
/BookstoreAPI/obj
/packages
/ValidationService/obj
/BookstoreModel/obj
/BookstoreModel/bin
*.pdb
/ServiceDevelopmentSDK/obj
/ValidationDataModel/obj
/ValidationService/bin
/ServiceDevelopmentSDK/bin
*.dll
*.vsidx
/AzureBookstore/.vs/MAS_Cloud_Zadatak/v17
/AzureBookstore/AzureBookstore/pkg
/AzureBookstore/BookstoreAPI/bin
/AzureBookstore/BookstoreAPI/obj
/AzureBookstore/BookstoreDesktopClient/obj
/AzureBookstore/BookstoreServiceContracts/obj
/AzureBookstore/CommunicationsSDK/obj
/AzureBookstore/packages
*.cache
/AzureBookstore/PurchaseDataModel/obj
/AzureBookstore/ValidationDataModel/obj
/AzureBookstore/.vs
/AzureBookstore/BookstoreService/bin
/AzureBookstore/StorageManagement/obj
/AzureBookstore/UsersService/obj
/AzureBookstore/UsersService/bin
/AzureBookstore/UsersServiceContract/obj
BookstoreDesktopClient/BookstoreDesktopClient_002pyovl_wpftmp.csproj
BookstoreDesktopClient/BookstoreDesktopClient_2s5xmvw1_wpftmp.csproj
BookstoreDesktopClient/BookstoreDesktopClient_h1g5qlel_wpftmp.csproj
BookstoreDesktopClient/BookstoreDesktopClient_n1xcnm0y_wpftmp.csproj
/BookstoreService/bin
/BookstoreService/obj
/BookstoreServiceContracts/obj
/Common/obj
/CommunicationsSDK/bin
/CommunicationsSDK/obj
/StorageManagement/obj
/UsersService/bin
/UsersService/obj
/UsersServiceContract/obj
/ValidationServiceContract/bin
/ValidationServiceContract/obj
/TransactionCoordinatingService/bin
/TransactionCoordinatingService/obj
/TransactionCoordinatingServiceContract/obj
/TransactionCoordinator/obj
